*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
.sidebar{
  background: rgb(10, 2, 41);
  color: white;
  height: 100vh;
}
.top_section{
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 10px;
}
.logo{
  font-size: 18px;
  line-height: 0;
  
}
.bars{
  padding: 5px 5px;
}
.search{
  display: flex;
  align-items: center;
  padding: 5px 15px;
  height: 30px;
  
}
.search input{
  border: none;
  border-radius: 5px;
  margin: 20px;
  background: rgb(232, 231, 235);
  color: #050505;
  
  
}

.link{
  display:flex;
  color: white;
  gap: 20px;
  margin: 15px,40px;
  padding: 15px 15px;
  margin-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6,-0.28,0.735,.0.45);

}
.link:hover{
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6,-0.28,0.735,.0.45);
  background: rgb(143, 111, 238);
}

a{
  text-decoration:none,
}
.main-container{
  display: flex;
  background-color: #d5d1e7;
}

main{
  padding: 2px; 
  width: 100%;
  
}
.title{
  font-size: 30px;
}
.link_text{
  white-space: nowrap;
  font-size: 15px;
}
/*dashborad styling*/
.foamcontainerss{

vertical-align: center;
margin-left: 35%;
margin-top:35px;
padding: 1rem;
background-color: rgba(205, 230, 245, 0.4);
}
.searchuser{
  width: 950px;
  margin-left: 30px;
  
  
  /* padding: 5px 15px; */
  
}
.searchuser input{
  border: 2px;
  border-radius: 10px;
  /* margin: 20px;
  border-color: #04AA6D; */
  background: rgb(199, 198, 202);
  color: #050505;
  
}

.table_cont{
  margin-left: 30px;
  width:1000px
  
}
.mainuser{
  display: flex;
}

.savebtn{
  
  margin: 20px;
}
.adduserbtn{
  background: #5505d6;
  color: white;
  margin-left: 10px;
  margin: 5px;
  
}

.container{
  display: flex;
}
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){
  background-color: #f2f2f2;
  
}
.table tr {
  text-align: center;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: rgb(10, 10, 10);
}

.loginsection {
  width: 100%;
 
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin-left:35%;
  margin-top: 10%;
  padding: 1rem;
  background-color: rgba(205, 230, 245, 0.4);
  
} 
.foameditfoam{
  
  margin-left:400px;
  margin-top: 50px;
  padding: 1rem;
  background-color: rgba(205, 230, 245, 0.4);

}
.view_container {
 margin-top: 100px;
 
}


header {
	display: flex;
	align-items: center;
	justify-content:flex-end;
	height: 80px;
	padding: 0 2rem;
  border-radius: 12px;
	background: #b0afb8;
	
}



